.headSection button {
  pointer-events: all;
  margin-bottom: 5px;
  margin-right: 5px;
}

.toggleButtons {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  height: fit-content;
}

/* .toggleButtons > * {
  align-self: start;
  flex: 0 0 30%;
} */

.fa {
  padding-left: 3px;
}
