.headSection button {
  pointer-events: all;
  margin-bottom: 5px;
  margin-right: 5px;
}

.toggleButtons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  height: fit-content;
}

.fa {
  padding-left: 3px;
}

@media (min-height: 200px) {
  .toggleButtons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-height: 700px) {
  .toggleButtons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-height: 1000px) {
  .toggleButtons {
    grid-template-columns: repeat(1, 1fr);
  }
}
