.filterOptions {
  padding: 0px 20px 0px 15px;
  font-size: 10pt;
  position: relative;
  width: fit-content;
}

.filterOptions p {
  margin: 0;
}

.filterOptions button {
  pointer-events: all;
  margin-bottom: 5px;
  margin-right: 5px;
}

.filterOptions input {
  pointer-events: all;
  cursor: pointer;
  accent-color: grey;
  margin-bottom: 2px;
}

.filterOptions select {
  pointer-events: all;
  cursor: pointer;
  accent-color: grey;
  font-size: 9pt;
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 2px;
}

.filterOptions option {
  pointer-events: all;
  cursor: pointer;
}

.filterOptions .fa {
  padding-left: 5px;
}

.topLine {
  display: flex;
  justify-content: space-between;
}
/* .displayButtons {
  /* float: right; */
/* }  */

.toggleButtons {
  border-bottom: 1px solid #e4e4e4;
}
.bottomPannelButtons {
  padding-top: 5px;
  float: right;
}

.subHeader {
  padding-bottom: 10px;
  padding-left: 5px;
  font-weight: 700;
  opacity: 0.7;
}

.filterOptionButton {
  padding: 4px 10px;
}

.filterOptions input {
  font-size: 9pt;
  font-weight: 600;
  opacity: 0.7;
}

.radioGroup {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3px;
}

.prSelection {
  padding-bottom: 5px;
}

.undefinedCheck {
  align-items: center;
  display: flex;
  padding-left: 5px;
  padding-bottom: 1px;
}

.prSelection button {
  margin: 2px;
  padding: 4px;
}

.prSelection .fa {
  padding-left: 0px;
}

.storyFilter {
  padding-bottom: 5px;
  /* width: fit-content; */
}

.storyOptions {
  padding-bottom: 5px;
  pointer-events: all;
}

.storyOptions p {
  display: contents;

  font-size: 10pt;
  font-weight: 600;
  opacity: 0.7;
}

.storyOptions p:hover {
  color: gray;
  cursor: pointer;
}

.customStoryButton {
  padding: 4px 10px;
  margin-bottom: 0;
  margin-top: 2px;
}

.customStorySection {
  flex-direction: column;
}

.customStoryInput button {
  margin: 2px;
  padding: 4px;
}

.customName {
  font-size: 10pt;
  font-weight: 700;
  opacity: 0.7;
}

.customOptions {
  font-size: 9pt;
  font-weight: 650;
  opacity: 0.7;
}

.filterText {
  border-top: 1px solid #e4e4e4;
  pointer-events: none !important;
}
