.gantchart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
  /* pointer-events: all; */
}

.gantchart button {
  pointer-events: all;
  margin-left: 10px !important;
  font-size: 10pt;
  z-index: 300;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.vis-time-axis {
  font-size: 8pt;
  border-color: white;
}

.vis-time-axis .vis-grid.vis-odd {
  background: #f5f5f5;
}

.vis-time-axis .vis-grid.vis-even {
  background: white;
}

.vis-item {
  font-size: 10pt;
  border-width: 2.5px;
  height: 25px;
  line-height: 11px;
  cursor: pointer;
}

.gantchartDisplayButton .fa {
  padding-left: 5px;
}

.vis-timeline {
  visibility: hidden !important;
}

.show {
  visibility: visible !important;
  pointer-events: all;
}

.selectedItem {
  border-color: red !important;
  border-width: 4px;
}
