header h1 {
  margin-top: 0px;
  margin-bottom: 6px;
}

header {
  padding: 10px 20px 0px 15px;
  font-size: 10pt;
}

header p {
  margin: 0;
}

header button {
  pointer-events: all;
  margin-bottom: 5px;
  margin-right: 5px;
}

.topLine {
  display: flex;
  justify-content: space-between;
}

.toggleButtons {
  border-bottom: 1px solid #e4e4e4;
}
.bottomPannelButtons {
  padding-top: 5px;
  float: right;
}

.subHeader {
  padding-bottom: 10px;
  padding-left: 5px;
  font-weight: 700;
  opacity: 0.7;
}
