header h1 {
  margin-top: 0px;
  margin-bottom: 6px;
}

header {
  padding: 10px 20px 0px 15px;
  display: block;
}

.topLine {
  display: flex;
  justify-content: space-between;
}

header button {
  pointer-events: all;
  margin-bottom: 5px;
  margin-right: 5px;
}

header input {
  pointer-events: all;
  cursor: pointer;
  accent-color: grey;
}

header .fa {
  padding-left: 5px;
}

.prSelection {
  font-size: 10pt;
}

.radioGroup {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3px;
}

.undefinedCheck {
  font-size: 10pt;
  align-items: center;
  display: flex;
  padding-left: 5px;
  padding-bottom: 5px;
}

.prSelection button {
  margin: 2px;
  padding: 4px;
}

.prSelection .fa {
  padding-left: 0px;
}

p {
  margin: 0;
  font-size: 10pt;
  padding-left: 5px;
  /* font-weight: 500; */
}

.storyButtons {
  pointer-events: all;
  padding-bottom: 5px;
  width: fit-content;
}

.storyButtons p:hover {
  color: gray;
  cursor: pointer;
}

.subHeader {
  padding-bottom: 10px;
  font-size: 10pt;
  font-weight: 700;
  opacity: 0.7;
}

.activeButton {
  background-color: #cfcfcf;
}

.customStory label {
  font-size: 10pt;
  font-weight: 600;
  opacity: 0.7;
}

.customStory {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.customInput {
  display: inline-block;
  /* flex-direction: row; */
}

.customInput button {
  margin: 2px;
  padding: 4px;
}
