.sideBar {
  /* opacity: 0; */
  height: 100%;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20em;
  background: #414a4c;
  box-sizing: border-box;
  padding: 1em;
  color: #fff;
  z-index: 2;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
