.vegaAnalytics {
  position: absolute;
  bottom: 0;
  left: 0;
  /* height: 600px; */
  display: inline-block;
  width: 100%;
  background-color: white;
  border-top: 2px solid grey;
  pointer-events: all;
}

.vega-embed {
  width: 90%;
  height: 100%;
}

/* .vega-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
