.vegaAnalytics {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 900px;
  width: 100%;
  background-color: white;
  border-top: 2px solid grey;
  pointer-events: all;
}

.vega-embed {
  width: 50%;
  height: 100%;
}
